pytest
pylint
pandas
faker
sqlalchemy
click
ipython
fastapi
uvicorn[standard]
jupyter
streamlit
pytest-cov
databricks
databricks-cli
ipython
databricks-sql-connector
databricks-connect==10.4.*
python-multipart